3to2==1.1.1
asgiref==3.5.2
beautifulsoup4==4.9.3
Brlapi==0.8.2
certifi==2020.6.20
chardet==4.0.0
chrome-gnome-shell==0.0.0
cliapp==1.20180812.1
cmdtest==0.32+git
cupshelpers==1.0
dbus-python==1.2.16
distro==1.5.0
distro-info==1.0
Django==4.1.1
gyp==0.1
html5lib==1.1
idna==2.10
louis==3.16.0
lxml==4.6.3
Mako==1.1.3
Markdown==3.3.4
MarkupSafe==1.1.1
numpy==1.19.5
Pillow==9.2.0
psutil==5.8.0
pycairo==1.16.2
pycups==2.0.1
pycurl==7.43.0.6
Pygments==2.7.1
PyGObject==3.38.0
pysmbc==1.0.23
python-apt==2.2.1
python-debian==0.1.39
python-xapp==2.0.2
python-xlib==0.29
pyxdg==0.27
PyYAML==5.3.1
requests==2.25.1
scour==0.38.2
setproctitle==1.2.1
six==1.16.0
soupsieve==2.2.1
sqlparse==0.4.2
tinycss==0.4
ttystatus==0.38
unattended-upgrades==0.1
urllib3==1.26.5
webencodings==0.5.1
xdg==5
