<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/css/reset.css">
  <link rel="stylesheet" href="/static/css/base.css">
  {% block css %}
  {% endblock css %}
  <title>CountIT</title>
</head>
<body>
  <header>
    <div class="navbar">
      <div class="user">
        <p>{{request.user}}</p>
        <a href="{% url 'logout' %}">Sair</a>
      </div>
      <img class="logo" src="/static/images/logo.png" alt="Logo countIT" style="width: 156px;"> 
      <div class="links">
          <a class="vendas" href="#">Vendas</a>
          <a class="estoque" href="{% url 'products' %}">Estoque</a>
      </div>
    </div>
  </header>
  {% block content %}
  {% endblock content %}
</body>
</html>