{% extends "app/base.html" %}
{% block css %}
    <link rel="stylesheet" href="/static/css/cart.css">
    <script src="https://kit.fontawesome.com/f83d7a8359.js" crossorigin="anonymous"></script>
    
{% endblock css %}

{% block content %}
<div class="page-description">
    <div class="title">Vendas</div>
    <form method="GET" class="search-content">
        <input type="text" name="search-area" class="search-field" value="{{ request.GET.search_area }}">
        <button type="submit" class="search-btn"><i class="fa-solid fa-magnifying-glass"></i></button>
    </form>
</div>
<div class="cart-container">
    <div class="products">
        <h2>Produtos</h2>
        <ul id="product-list" class="product-list">
            {% for product in products %}
                <li>
                    <p>{{ product.name }}</p>  <p>R${{ product.price }}</p>  <p>Quantidade disponível: {{ product.quantity }}</p>
                    <button class="add-to-cart-btn" data-product-id="{{ product.id }}" data-product-name="{{ product.name }}" data-product-quantity="{{ product.quantity }}" onclick="addToCart(event)">Adicionar</button>
                </li>
            {% endfor %}
        </ul>
    </div>
    <div class="cart">
        <h2>Carrinho</h2>
        <table id="cart-table" class="table table-bordered">
            <tbody>
                
            </tbody>
        </table>
        <form id="cart-form" method="post" action="{% url 'complete-sale' %}">
            {% csrf_token %}
            <input type="hidden" name="cart_items" id="cart-items">
            <button type="submit" class="finish-btn">Finalizar venda</button>
        </form>
    </div>
</div>

<script>
    let cart = {};

    function addToCart(event) {
        const button = event.target;
        const productId = button.dataset.productId;
        const productName = button.dataset.productName;
        const productQuantity = parseInt(button.dataset.productQuantity);

        if (cart[productId]) {
            if (cart[productId].quantity < productQuantity) {
                cart[productId].quantity += 1;
            } else {
                alert('A quantidade solicitada excede a quantidade disponível no estoque.');
                return;
            }
        } else {
            cart[productId] = {
                name: productName,
                quantity: 1,
                maxQuantity: productQuantity
            };
        }
        updateCartTable();
}

    function removeFromCart(productId) {
        delete cart[productId];
        updateCartTable();
    }

    function updateCartQuantity(productId, newQuantity) {
        cart[productId].quantity = parseInt(newQuantity);
        updateCartTable();
    }

    function updateCartTable() {
        const cartTable = document.getElementById('cart-table');
        cartTable.innerHTML = '';

        for (const [productId, item] of Object.entries(cart)) {
            const row = document.createElement('tr');

            const nameCell = document.createElement('td');
            nameCell.innerText = item.name;
            row.appendChild(nameCell);

            const quantityCell = document.createElement('td');
            const quantityInput = document.createElement('input');
            quantityInput.type = 'number';
            quantityInput.min = 1;
            quantityInput.value = item.quantity;
            quantityInput.onchange = () => updateCartQuantity(productId, quantityInput.value);
            quantityCell.appendChild(quantityInput);
            row.appendChild(quantityCell);

            const removeCell = document.createElement('td');
            const removeButton = document.createElement('button');
            removeButton.innerText = 'Remover';
            removeButton.onclick = () => removeFromCart(productId);
            removeCell.appendChild(removeButton);
            row.appendChild(removeCell);

            cartTable.appendChild(row);
        }
    }

    function onSubmit() {
        for (const [productId, item] of Object.entries(cart)) {
            if (item.quantity > item.maxQuantity) {
                alert(`A quantidade solicitada de ${item.name} excede a quantidade disponível no estoque.`);
                return false;
            }
        }
        const cartItemsField = document.getElementById('cart-items');
        cartItemsField.value = JSON.stringify(cart);
        return true;
    }

    document.getElementById('cart-form').addEventListener('submit', onSubmit);

    //functions not to reload the page
    function submitSearch(e) {
        e.preventDefault();
        const searchField = document.querySelector('.search-field');
        const searchTerm = searchField.value.trim();

        fetch(`/search/?q=${searchTerm}`)
        .then(response => {
            if (!response.ok) {
                throw new Error('Erro ao buscar produtos');
            }
            return response.json();
        })
        .then(data => {
            updateProductList(data.products);
        })
        .catch(error => {
            console.error('Erro:', error);
        });
    }


    document.getElementById('search-form').addEventListener('submit', submitSearch);

    function updateProductList(products) {
        const productList = document.getElementById('product-list');
        productList.innerHTML = '';

        products.forEach(product => {
            const li = document.createElement('li');
            li.innerHTML = `${product.name} - R$ ${product.price} - Quantidade disponível: ${product.quantity}`;
            
            const button = document.createElement('button');
            button.classList.add('add-to-cart-btn');
            button.dataset.productId = product.id;
            button.dataset.productName = product.name;
            button.dataset.productQuantity = product.quantity; // Adicione esta linha
            button.innerText = 'Adicionar';
            button.onclick = addToCart;
            
            li.appendChild(button);
            productList.appendChild(li);
        });
    }


</script>
{% endblock %}

