{% extends "app/base.html" %}
{% block css %}
    <link rel="stylesheet" href="/static/css/reset.css">
    <link rel="stylesheet" href="/static/css/dashboard.css">
{% endblock css %}
{% block content %}
<main class="dashboard-content-master">
  <h2 class="title">Dashboard</h2>
  <div class="container-master-table">
    <table class="table-dashboard">
      <tr class="table-header">
        <th>Mês</th>
        <th>Total de Vendas</th>
      </tr>
      {% for sale in sales_per_month %}
      <tr class="table-itens">
        <td><a href="{% url 'monthly_sales_detail' year=sale.month.year month=sale.month.month %}">{{ sale.month|date:"F Y" }}</a></td>
        <td class="value-itens">R$ {{ sale.total_sales|floatformat:2 }}</td>
      </tr>
      {% endfor %}
    </table>
  </div>
</main>
{% endblock %}
