<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/reset.css">
    <link rel="stylesheet" href="../../static/css/style.css">
    <title>CountIT</title>
</head>

<body>
    <header>
        <div class="navbar">
            <img class="logo" src="../../static/images/logo.png" alt="Logo countIT">
            <div class="links">
                <a class="login" href="{% url 'login' %}">Entrar</a>
                <a class="register" href="{% url 'register' %}">Cadastre-se</a>
            </div>
        </div>
    </header>
    <div class="hero">
        <div class="left">
            <h1 class="title">CountIT</h1>
            <p class="text">O CountIT é  sistema de Ponto de Venda (PDV) utilizado atualmente para ajudar na questão de fluxo de caixa de pequenas e grandes empresas. Também temos um gerenciamento do estoque. Essa é uma ferramenta essencial em vários negócios, porém, notamos que as vezes pode se tornar muito confusa pois muitas delas contém bastante funcionalidades irrelevantes jogadas de forma desorganizada na tela que acabam só atrapalhando o usuário.</p>
            <a class="register" href="{% url 'register' %}">Cadastre-se</a>
        </div>
        <img class="image" src="../../static/images/hero-image.svg" alt="teste">
    </div>
    
</body>
</html>