{% extends 'app/index.html' %}

{% block homecontent %}
    <div class="main-login">
        <div class="container">
            <div class="login ">
                <div class="illustration"><img src="/static/images/illustration.png" alt=""></div>
                <div class="form-login">        
                    <strong>Fazer Login</strong>
                    <form method='POST'>
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type='submit' class="btn-login">Entrar</button>
                    </form>
                    <p class="new-user">Novo Usuário? <a href="{% url 'register' %}">Cadastre-se Aqui</a></p>
                </div>
            </div>
        </div>
    </div>
{% endblock homecontent %}
