{% extends 'app/base.html' %}
{% block content %}

{% block css%}
<link rel="stylesheet" href="/static/css/product_detail.css">
<link rel="stylesheet" href="/static/css/delete_style.css">

<script src="/static/javascript/modal.js" defer></script>
{% endblock css%}
<section>
    <div class="container">
    <a class="back" href="{% url 'products'%}">Voltar</a>
        <div class="product-detail">
            <h1 class="title">{{product.name}}</h1>
            <p class="quantity">Quantidade: {{product.quantity}}</p>
            <p class="price">Preço: R${{product.price}}</p>
            <div class="buttons">
                <button class="delete">Deletar</button>
                <a class="edit" href="{%url 'product-update' product.id%}">Editar</a>
            </div>
        </div>
    </div>
    <div id="modal" class="display-none">
        <div class="product_delete">
            <p class="frase_delete">Você tem certeza que deseja apagar o produto "{{product}}"?<br>Esta ação não pode ser desfeita.</p>
            <div class="buttons">
                <a href="{% url 'product' product.id%}">Voltar</a>
                <form method="post" action="{% url 'product-delete' product.id %}">
                    {% csrf_token %}
                    <button type="submit" >Deletar</button>
                </form>  
            </div>
        </div>
    </div>

</section>

{% endblock content %}
