<link rel="stylesheet" href="/static/css/reset.css">
<link rel="stylesheet" href="/static/css/list_style.css">

<div class="left-content">
    <table class="content-table">
        <thead>
            <tr>
                <th>Item</th>
                <th>Quantidade</th>
                <th>Preço</th>
                <th>Ações</th>
            </tr>
        </thead>
        {% for product in products %}
        <tbody>
            <tr class="content">
                <td>{{product.name}}</td>
                <td>{{product.quantity}}</td>
                <td>R${{product.price}}</td>
                <td>
                    <a class= "look" href="{% url 'product' product.id %}">Ver</a>
                    <a class= "edit" href="{% url 'product-update' product.id %}">Editar</a>
                </td> 
            </tr>
        </tbody>
        {% endfor %}
    </table>
</div>
<div class="right-content">
    <a href="{% url 'product-create' %}">Cadastrar Produto</a>
</div>
